.tray {
  h1 {
    font-size: 2rem;
    padding: 0.5rem 0;
    border-radius: 3px;
    margin: 0;
  }

  /* headings within the tabs */
  h2, h3 {
    margin: 0 0 0.4rem;
  }
  h3 {
    margin-top: 1rem;
  }

  a, .a {
    color: white;
    font-family: "Source Han Sans", "源ノ角ゴシック", "Hiragino Sans", "HiraKakuProN-W3", "Hiragino Kaku Gothic ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Noto Sans", "Noto Sans CJK JP", "メイリオ", Meiryo, "游ゴシック", YuGothic, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック", "MS Gothic", sans-serif;

    &:hover {
      color: #0aff8c;
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .tray-tab-buttons button {
    color: white;
    background: none;
    border-bottom: 0.2rem solid transparent;
    border-radius: 0;
    padding: 0.7rem;
    margin: 0;

    &:hover {
      background: #1d2435;
      border-bottom-color: #7700ff;
    }
    &:focus, &[aria-selected="true"] {
      border-bottom-color: #b300ff;
    }
  }
}