.panel {
	align-self: center;
	background: var(--sx-gray-600);
	color: white;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	border-radius: 4px;
	justify-content: center;
	max-height: 80vh;
	/* center the panel in a way that doesn't interfere with clicking the background on either side to toggle pause,
		   just letting this be centered within the parent flex container leaves click stealing margins on either side */
	left: 50vw;
	transform: translateX(-50%);
	position: absolute;
}
